{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}{{ title }} | EBASI Store Admin{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'admin/css/ebasi_admin.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">EBASI Store <span class="ebasi-admin-badge">Admin</span></a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
